<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
    <meta name="robots" content="index, follow">
    <%= yield :head %>

    <script src="<%= asset_pack_path 'application.js' %>"></script>
    <link rel="stylesheet" type="text/css" href="<%= asset_pack_path 'application.css' %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
